.content{
    color: #fff;
    position: relative;
    top: 22%;
    text-align: center;
}
h2{
    font-size: 32px;
    font-weight: 300;
    margin: 0px;
}
.para{
    font-weight: 300;
    font-size: 16px;
    /* margin-left: 326px;
    margin-right: 326px; */
    margin : 66px  326px;
    line-height: 26px;
}
.main{
    height: 500px;
  }
  input{
      width: 400px;
      height: 40px;
      border-radius: 50px;
      background-color: #fff;
  }
  input[type="text"] {
    font-size:16px;
    padding-left: 16px;
  }
  .arrow{
    width: 60px;
    height: 35px;
    border-radius: 99px;
    background-color: #f7981c;
    color: #fff !important;
    position: relative;
    left: -66px;
  }
.box{
   padding: 12px;
    background-color: #f9fafa;
    box-shadow: 0 1px 5px 0 #354860;
}
.more{
    height: 32px;
    border-radius: 15px;
    background-color: #1b5683;
    color: #fff;
    width: 96px;
}
.group-img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 10px 0 rgba(29, 90, 136, 0.49);
}
.cards{
    width: 200px;
    height: 80px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(29, 17, 86, 0.12);
    text-align: center
}